.wrapper {
    /*background-color: #e1aa98;*/
    background-color: #0a192f;
}

.projectBlock {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.projectsBlockTitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #ccd6f6;
    position: relative;
    align-self: flex-start;
}
.projectsBlockTitle::after{
    content: "";
    width: 250px;
    display: block;
    background: #233554;
    height: 1px;
    position: absolute;
    top: 20px;
    transform: translate(115%, 0%);

}

.projects {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media(max-width: 1000px){
    .projects {
        align-items: center;
    }
}