.wrapper {
    background-color: #e1aa98;
}

.projectBlock {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.projectsBlockTitle {

}

.projects {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media(max-width: 1000px){
    .projects {
        align-items: center;
    }
}