/*.commonBlock {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    margin: 0 0 30px 0;*/
/*}*/

.commonBlock {
    display: grid;
    grid-template-rows: repeat(2, 0.2fr);
    grid-template-columns: repeat(10, 1fr);
    margin-bottom: 100px;
    font-family: Inter, sans-serif;
}

@media (max-width: 1000px) {
    .commonBlock {
        display: flex;
        justify-content: space-between;
    }
}

.projectImg {
    opacity: .9;
    background: url("./projecrImg/example.png") 0/100% 100% no-repeat;
    grid-area: 1/1/4/7;
    position: relative;
    border-radius: 7px;
    overflow: hidden;
}
.projectImg::after{
    content: "";
    position: absolute;
    top:0;
    right: 0;
    /*background: #0a4323e6;*/
    background:#64ffdab5;
    width: 100%;
    height: 100%;
    opacity: .7;
    mix-blend-mode: color;
}

.projectImgReversed {
    opacity: .9;
    background: url("./projecrImg/example.png") 0/100% 100% no-repeat;
    grid-area: 1/5/4/11;
    border-radius: 7px;
    overflow: hidden;
    position: relative;
}

.projectImgReversed::after{
    content: "";
    position: absolute;
    top:0;
    right: 0;
    /*background: #0a4323e6;*/
    background:#64ffdab5;
    width: 100%;
    height: 100%;
    opacity: .7;
    mix-blend-mode: color;
}

@media (max-width: 1000px) {
    .projectImg {
        display: none;

    }
}

.projectContent {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
    grid-area: 2/6/2/11;
    z-index: 10;
    font-size: 16px;
}

.projectContentReversed {
    display: flex;
    /*max-width: 350px;*/
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    /*opacity: 90%;*/
    /*background-color: darkgray;*/
    grid-area: 2/1/2/6;
    z-index: 10;
}

@media (max-width: 1000px) {
    .projectContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
        max-width: 450px;
        color: #ebebeb;
        z-index: 2;
        background-color: #412952;
        margin: 0 10px 10px 10px;
    }

    .projectContent:before {
        content: ' ';
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.2;
        background: url("./projecrImg/example.png") 0 0/cover no-repeat;
    }
}

.projectTitle {
    margin: 0 0 10px 0;
    color: #ccd6f6;
    font-size: 28px;
    font-weight: 600;
}

.projectDescription {
    background-color: #112240;
    padding: 25px;
    margin: 0;
    color: #a8b2d1;
    border: none;
    border-radius: 7px;
}

@media (max-width: 1000px) {
    .projectDescription {
        background: none;
    }
}

.projectTechList {
    list-style-type: none;
    padding-left: 0;
    margin: 10px 0;
    z-index: 3;
    /*color: #a8b2d1;*/
}
.projectTechList :not(:first-of-type){
    padding: 0 0 0 15px;
}

.projectTechList a {
    text-decoration: none;
    color: #a8b2d1;
}


.projectTechList li {
    display: inline-block;
    margin-top: 0;
}

.projectLinks a {
    text-decoration: none;
    color: #a8b2d1;
}