.wrapper{
    background-color: #eac2c2;
}
.mainBlock {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*flex-wrap: wrap;*/
}
@media (max-width: 768px) {
    .mainBlock{
        justify-content: center;
        text-align: center;
        flex-direction: column;
        row-gap: 2em;
    }
}

.greetText {
    width: 300px;
    background-color: white;
}

.photo {
    width: 250px;
    height: 300px;
    background-color: white;
}