.form {
    border: 1px solid;
    display: flex;
    flex-direction: column;
}

h2{
    margin: 0 0 10px 0;
    align-self: center;
}

.nameBlock {

}

.nameBlock label {
    display: block;
}

.mailBlock {

}

.mailBlock label {
    display: block;
}

.textBlock {

}

.textBlock label {
    display: block;
}

.button {
align-self: center;
}