.nav {
    /*border: 1px solid red;*/
    width: 300px;
    display: flex;
    justify-content: space-between;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: Inter, sans-serif;
    font-size: 13px;
}

.nav a{
    text-decoration: none;
    color: #ccd6f6;
}